@hz-date-picker-box-shadow: 0 0 8px 0 rgba(16,48,102,0.03), 0 8px 16px 0 rgba(16,48,102,0.08);
@hz-date-picker-blue-text: #2B79FF;
@hz-date-picker-bottom-line: 1px solid rgba(15, 34, 67, 0.12);
@hz-date-picker-thead-color: rgba(15, 34, 67, 0.42);
@hz-date-picker-cell-color: rgba(15, 34, 67, 0.72);
@hz-date-picker-cell-hover-bg: rgba(43, 121, 255, 0.10);
@hz-date-picker-cell-selected-bg: #2375FF;
.hz-date-picker {
  display: inline-block;
  .hz-single-date-picker-outlet {
    width: 180px;
    input {
      width: 100%;
    }
  }
  .hz-range-date-picker-outlet {
    width: 340px;
    input {
      width: 140px;
      text-align: center;
    }
  }
}

.hz-date-picker-single-container {
  background: #FFFFFF;
  box-shadow: @hz-date-picker-box-shadow;
  border-radius: 8px;
  padding: 1px;
  .hz-range-date-input-wrap {
    font-size: 12px;
    height: 36px;
    line-height: 24px;
    border-bottom: @hz-date-picker-bottom-line;
    display: flex;
    padding: 6px 0;
    box-sizing: border-box!important;
    color: @hz-date-picker-thead-color;
    .date-picker-input {
      flex: 1;
      height: 24px;
      line-height: 24px;
      padding: 0 16px;
      input {
        color: @hz-date-picker-cell-color;
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 4px 0;
        border: 0;
        outline: none;
        height: 16px;
        line-height: 16px;
        box-shadow: none;
        font-size: 12px;
      }
    }
  }
}
