<section class="hz-date-picker" (click)="showOverlay($event)">
  <article class="hz-date-outlet" *ngIf="!isRange; else rangePickerInput">
    <span>{{(dateValue | date: format) || placeholder}}</span>
    <i class="icon-date-picker"></i>
  </article>
  <ng-template #rangePickerInput>
    <article class="hz-range-date-outlet">
      <span class="hz-range-date">{{(dateValue[0] | date: format) || placeholder[0]}}</span>
      <span class="range-to"> ～ </span>
      <span class="hz-range-date">{{(dateValue[1] | date: format) || placeholder[1]}}</span>
      <i class="icon-date-picker"></i>
    </article>
  </ng-template>
</section>

<ng-template #singleDatePickTemplate>
  <section class="hz-date-picker-single-container">
    <article class="hz-date-input-wrap">
      <div class="date-input">
        <span>{{(singleModalDate | date: format) || placeholder}}</span>
      </div>
    </article>
    <article class="hz-date-wrap" [hidden]="singleModalType !== 0">
      <article class="hz-date-month-nav">
        <i class="pre-year" (click)="changeChildYear(false)"></i>
        <i class="pre-month" (click)="changeChildMonth(false)"></i>
        <span class="cur-year-month">
              <a class="select-year" (click)="singleModalType = 2"><span>{{hzDateMonthComponent?.curYear}}</span>年</a>
              <a class="select-month" (click)="singleModalType = 3"><span>{{hzDateMonthComponent?.curMonth}}</span>月</a>
            </span>
        <i class="next-year" (click)="changeChildYear(true)"></i>
        <i class="next-month" (click)="changeChildMonth(true)"></i>
      </article>
      <app-hz-date-month #HzDateMonthComponent [dateValue]="singleModalDate"
                         (cellClick)="onCellClick($event)"></app-hz-date-month>
    </article>
    <article class="hz-date-wrap" *ngIf="singleModalType === 1">
      <ng-container [ngTemplateOutlet]="singleTimePickerTemplate"></ng-container>
    </article>
    <article class="hz-date-wrap" *ngIf="singleModalType === 2">
      <app-hz-year-month-select [year]="hzDateMonthComponent?.curYear" (yearChange)="onYearChange($event)"></app-hz-year-month-select>
    </article>
    <article class="hz-date-wrap" *ngIf="singleModalType === 3">
      <app-hz-year-month-select [year]="hzDateMonthComponent?.curYear" [month]="hzDateMonthComponent?.curMonth" (monthChange)="onMonthChange($event)"></app-hz-year-month-select>
    </article>
    <article class="hz-date-actions">
      <button *ngIf="showTime" [disabled]="!singleModalDate" (click)="changeModelType()">{{singleModalType ? '选择日期' : '选择时间'}}</button>
      <button [disabled]="!singleModalDate" (click)="onSingleConfirm()">确定</button>
      <button (click)="closeSingleModal()">取消</button>
    </article>
  </section>
</ng-template>

<ng-template #singleTimePickerTemplate>
  <section class="hz-time-picker-wrap">
    <article class="hz-time-picker-day">
      <span>{{singleModalDate | date: 'yyyy年MM月dd日'}}</span>
    </article>
    <article class="hz-time-picker-content">
      <hz-time-picker-select [(ngModel)]="singleModalDate"></hz-time-picker-select>
    </article>
  </section>
</ng-template>

<ng-template #rangeDatePickTemplate>
  <app-hz-date-range [rangeDate]="rangeModalDate"
                     [showTime]="showTime"
                     [format]="format"
                     [placeholder]="placeholder"
                     (rangeConfirm)="onRangeConfirm($event)"
                     (rangeCancel)="closeRangeModal()"
  ></app-hz-date-range>
</ng-template>
