<section class="hz-date-picker" (click)="showOverlay($event)">
  <article class="hz-single-date-picker-outlet" *ngIf="!isRange; else rangePickerInput">
    <span>{{(dateValue | date: format) || placeholder}}</span>
    <!--    <input type="text" placeholder="{{placeholder}}" [(ngModel)]="dateValue" readonly>-->
    <i class="icon-date-picker"></i>
  </article>
  <ng-template #rangePickerInput>
    <article class="hz-range-date-picker-outlet">
      <span class="hz-range-date">{{(dateValue[0] | date: format) || placeholder[0]}}</span>
      <!--      <input type="text" placeholder="{{placeholder[0]}}" [(ngModel)]="dateValue[0]" readonly>-->
      <span class="range-to"> ～ </span>
      <span class="hz-range-date">{{(dateValue[1] | date: format) || placeholder[1]}}</span>
      <!--      <input type="text" placeholder="{{placeholder[1]}}" [(ngModel)]="dateValue[1]" readonly>-->
      <i class="icon-date-picker"></i>
    </article>
  </ng-template>
</section>

<ng-template #singleDatePickTemplate>
  <section class="hz-date-picker-single-container">
    <article class="hz-date-input-wrap">
      <div class="date-picker-input">
        <!--        <input type="text" readonly [(ngModel)]="dateValue" placeholder="请选择日期">-->
        <span>{{(singleModalDate | date: format) || placeholder}}</span>
      </div>
    </article>
    <article class="hz-date-wrap">
      <ng-container *ngIf="!singleModalType else singleTimePickerTemplate">
        <app-hz-date-month [dateValue]="singleModalDate" (cellClick)="onCellClick($event)"></app-hz-date-month>
      </ng-container>
    </article>
    <article class="hz-date-actions">
      <button [disabled]="!singleModalDate" (click)="changeModelType()">{{singleModalType ? '选择日期' : '选择时间'}}</button>
      <button (click)="onSingleConfirm()">确定</button>
      <button (click)="closeSingleModal()">取消</button>
    </article>
  </section>
</ng-template>

<ng-template #singleTimePickerTemplate>
  <section class="hz-time-picker-wrap">
    <article class="hz-time-picker-day">
      <span>{{singleModalDate | date: 'yyyy年MM月dd日'}}</span>
    </article>
    <article class="hz-time-picker-content">
      <hz-time-picker [(ngModel)]="singleModalDate"></hz-time-picker>
    </article>
  </section>
</ng-template>

<ng-template #rangeDatePickTemplate>
  <app-hz-date-range [rangeDate]="rangeModalDate"
                     [showTime]="showTime"
                     [format]="format"
                     [placeholder]="placeholder"
                     (rangeConfirm)="onRangeConfirm($event)"
                     (rangeCancel)="closeRangeModal()"
  ></app-hz-date-range>
</ng-template>
