<section style="width: 200px">
  <app-hz-date-picker [(ngModel)]="date"></app-hz-date-picker>
</section>
<section style="width: 400px">
  <app-hz-date-picker [isRange]="true" [showTime]="true" [(ngModel)]="dateArr"></app-hz-date-picker>
</section>

<section style="width: 400px; height: 150px">
  <hz-time-picker [isRange]="true" [(ngModel)]="time" [onlyTime]="true" [type]="'string'"></hz-time-picker>
</section>
<section style="width: 248px">
  <app-hz-year-month-select [year]="2019"></app-hz-year-month-select>
</section>
