<section class="hz-time-picker" (click)="showOverlay()">
  <article class="hz-time-picker-outlet">
    <span *ngIf="type === 'date'">{{(time | date: format) || placeholder}}</span>
    <span *ngIf="type === 'string'">{{time}}</span>
  </article>
</section>

<ng-template #timePickerTemplate>
  <section class="hz-time-picker-overlay">
    <article class="hz-time-picker-title">
      <span class="time-picker-input">{{modalDate | date: format}}</span>
    </article>
    <article class="hz-time-picker-content">
      <div *ngIf="!onlyTime" class="hz-time-picker-day">
        <span>{{ modalDate | date: 'yyyy年MM月dd日'}}</span>
      </div>
      <hz-time-picker-select [(ngModel)]="modalDate" (timeClick)="onTimeClick($event)"></hz-time-picker-select>
    </article>
    <article class="hz-time-picker-actions">
      <button (click)="confirm()">确定</button>
      <button (click)="closeModal()">取消</button>
    </article>
  </section>
</ng-template>
